@import '@fontsource/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #F8FAFC;
    /* Light Blue-Gray */
    color: #0F172A;
    /* Text Main */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F8FAFC;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #F1F5F9;
}

::-webkit-scrollbar-thumb {
    background: #CBD5E1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94A3B8;
}

.pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 20px);
}